<!DOCTYPE html>
<html>
<head>
   <meta charset=utf-8 />
   <title>Index of home directory</title>
</head>
<body>
   <h1>Listing directory {{dir_name}}</h1>
   <table border="1">
   <tr>
     <th>Name file or directory</th>
     <th>File size in bytes</th>
     <th>Last modification date</th>
   {% for item in files %}
   <tr>
     <td>{{ item.name }}</td>
     <td>{{ item.size_file }}</td>
     <td>{{ item.time_file }}</td>
   </tr>
   {% endfor %}
   {% for item in dirs %}
   <tr>
     <td><a href="{{ item.name }}">{{ item.name }}</a></td>
     <td>{{ item.size_file }}</td>
     <td>{{ item.time_file }}</td>
   </tr>
   {% endfor %}
   </table>
</body>
</html>
